.img-container {
    margin: 100px auto 0px;
    width: 180px;
    display: flex;
    justify-content: center;
}

.logo {
<<<<<<< HEAD
    width: 150px;
}

h1 {
    color: rgb(73, 19, 19);
    font-size: 20px;
    display: flex;
    margin-bottom: 55px;
=======
    width: 250px;
>>>>>>> ae6217d5b5ca40217ca50620ad9498f8613bb6bb
}

.window {  
    margin: 35px auto 0px;
    width: 350px;
    height: 200px;
    background:linear-gradient(rgba(255, 255, 255, 0.5),transparent);
    background-color:rgb(231, 93, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

h1 {
    color: rgb(73, 19, 19);
    font-size: 20px;
    display: flex;
    margin-bottom: 55px;
}

.btn {
    border-radius: 15px;
}
